body {
  background-image: url("background_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
h1,
.ruleheading {
  color: rgb(124, 78, 40);
  font-size: 3.5vw;
}

.collapsable_start summary,
p {
  font-size: 2vw;
  color: green;
}

/* .ruleheading {
  color: rgb(124, 78, 40);
  font-size: 10vw;
} */
